.page--schedule {
  .container {
    min-height: 600px;
    min-height: 80vh;
    .loading {
      display: block;
      padding: 25vh 0;
      font-size: 20pt;
    }
  }
  .timetable {
    min-height: 60px;
    .day-cell
    {
      background-color: yellow;
    }
    .time-cell
    {
      background-color: orange;
    }
    .session-cell
    {
      background: gray;
    }
  }
}
